<template>
  <div class="container-fluid">
    <div class="row bg-gral">
        <div class="col-12 px-0">
            <div class="container container-xleo">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3 mt-md-5 mb-md-3 d-md-block d-sm-none d-none">
                        <div class="card" style="padding:0;border-radius:0;box-shadow:none;border:none;">
                            <div class="card-body" style="padding:5px;">
                                <div class="row">
                                    <div class="col-12">
                                        <img src="/img/general.svg" alt="general logotipo" class="d-block m-auto img-fluid" width="259" height="68">
                                    </div>
                                </div>
                                <div class="row">
                                    <ul class="col-10 offset-1 mb-0 py-1">
                                      <li class="text-muted d-block float-start">
                                        <svg class="iconCheck float-start"><use xlink:href="#check"/></svg>
                                        <small class="">El mejor precio </small>
                                        </li>
                                      <li class="text-muted d-block float-start">
                                        <svg class="iconCheck float-start"><use xlink:href="#check" /></svg>
                                        <small class="">La mejor cobertura </small>
                                        </li>
                                      <li class="text-muted d-block float-start">
                                        <svg class="iconCheck float-start"><use xlink:href="#check" /></svg>
                                        <small class="">100% en línea</small>
                                        </li>
                                        <li class="text-muted d-block float-start">
                                        <svg class="iconCheck float-start"><use xlink:href="#check" /></svg>
                                        <small class="">Paga a 6 ó 12 meses</small>
                                        </li>
                                        <li class="text-muted d-block float-start">
                                        <svg class="iconCheck float-start"><use xlink:href="#check" /></svg>
                                        <small class="">Cobertura amplia</small>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row">
                                  <div class="col-12 mt-2">
                                    <div v-if="this.$store.state.config.promoSpecial">
                                        <img class="promoi" width="90" height="85" :src="this.$store.state.config.promoImg" alt="carro">     
                                    </div>
                                    <picture>
                                        <source type="image/webp" srcset="/img/carro-general.webp">
                                        <source type="image/png" srcset="/img/carro-general.png">
                                      <img class="d-block m-auto img-fluid" src="/img/carro-general.jpg" alt="Auto" width="175" height="80"/>
                                    </picture>
                                  </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-8 col-lg-9 mt-md-5 mb-md-3 px-md-5 bg-white" style="box-shadow:0 0 10px 3px rgb(25 66 136 / 23%);">
                        <div class="row">
                            <div class="col-4 d-block d-md-none m-auto pe-0">
                                <img class="promoc" width="40" height="40" :src="this.$store.state.config.promoImg" alt="carro" v-if="this.$store.state.config.promoSpecial"> 
                                <img src="/img/general.svg" alt="general logotipo" class="d-block m-auto img-fluid" width="172" height="98">
                            </div>
                            <div class="col-8 col-md-12">
                                <h1 class="text-center mt-3 fw-bold">Cotiza tu Seguro de Auto</h1>
                                <span class="h3 d-block text-center">{{this.$store.state.config.desc}} {{this.$store.state.config.msi}} {{this.$store.state.config.extraMsg}} </span>
                            </div>
                        </div>
                        <formulario :config="this.$store.state.config"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-2 offset-md-4 offset-lg-3 my-2">
                        <img src="/img/tarjetas.svg" class="img-fluid d-block m-auto" alt="Tarjeta de crédito" width="135" height="40">
                    </div>
                    <div class="col-6 col-lg-3 offset-lg-4 my-2 text-right">
                        <img src="/img/candado.svg" class="img-fluid d-inline-block m-auto" alt="Tarjeta de crédito" width="20" height="20"> <small class="text-left d-inline-block">Tu información está segura</small>
                        
                        <!-- <div itemscope="itemscope" itemtype="http://schema.org/Product" class="d-inline-block">
                            <meta itemprop="brand" content="Ahorraseguros">
                            <meta itemprop="description" content="Ahorra Seguros México">
                            <meta itemprop="name" content="Ahorra Seguros México">
                            <meta itemprop="image" content="https://ahorraseguros.mx/wp-content/uploads/src/leoescool.png">
                            <meta itemprop="review" content="">
                            <meta itemprop="sku" content="">
                        <p class="d-inline-block text-white star-rating">&nbsp;<strong itemprop="aggregateRating" itemscope="itemscope" itemtype="http://schema.org/AggregateRating"><small itemprop="ratingValue">4.8</small><small>/</small><small itemprop="bestRating">5</small>&nbsp;<small itemprop="reviewCount">3485</small>&nbsp;</strong>&nbsp;<small itemprop="name">Opiniones</small>
                        </p>
                        </div>  -->
                    </div>
                </div>
            </div>
        </div>     
    </div>
    <div class="row">
        <div class="container my-3 my-lg-5">
          <div class="row">
            <div class="col-4 text-center">
              <img src="/img/logo1.svg" alt="logo1" width="120" height="70" class="img-fluid">
              <p class="b1 mb-0">Protege tu auto</p>
              <p class="b2 mb-0">con las mejores coberturas</p>
            </div>
            <div class="col-4 text-center">
              <img src="/img/logo2.svg" alt="logo1" width="120" height="70" class="img-fluid">
              <p class="b1 mb-0">Descuentos Increíbles</p>
              <p class="b2 mb-0">ahorra en tu póliza</p>
            </div>
            <div class="col-4 text-center">
              <img src="/img/logo3.svg" alt="logo1" width="120" height="70" class="img-fluid">
              <p class="b1 mb-0">Tu póliza hoy mismo</p>
              <p class="b2 mb-0">contrata 100% online</p>
            </div>
          </div>
        </div>
    </div>




<!-- content -->
  </div>
</template>
<script>
    import formulario from "~/components/forms/autosForm.vue";
    import getInsurerPromo from "~/plugins/promoData.js";  
import telefonoService from "~/plugins/telefonoService.js";

    export default {
        layout: "index",
        components: {
            formulario
        },
        beforeCreate () {

            this.$store.state.config.aseguradora = "GENERALDESEGUROS";
            this.$store.state.config.cotizacion = false;
            this.$store.state.config.emision = true;
            this.$store.state.config.interaccion = true;
            this.$store.state.config.grupoCallback = "VN COMPARADOR M";
            this.$store.state.config.from = 'DOMINIO-GENERALDESEGUROS';
            this.$store.state.config.textoSMS = "Felicidades: Ya tenemos tu cotización en breve un ejecutivo te contactará.";
            this.$store.state.config.dominioCorreo = "AUTOS|GENERALDESEGUROS|generalseguros-com-mx"
            this.$store.state.config.idCampana = 73;
            this.$store.state.config.idPagina = 32;
            this.$store.state.config.idSubRamo = 42;
            this.$store.state.config.idMedioDifusion = 3383;
            this.$store.state.config.idMedioDifusionInteraccion = 3224;
            this.$store.state.config.idMedioDifusionEcommerce = 3223;
            this.$store.state.config.tipoVehiculo = "AUTO";
            this.$store.state.config.descuento = 20;
            this.$store.state.config.urlGracias = '/timeline/thank-you'
            this.$store.state.config.titulo = "General de Seguros"; // INDEX

            this.$store.state.config.clase2="col-4 col-md-4 col-lg-4"
            this.$store.state.config.clase3="col-4  col-md-8 col-lg-8 my-auto"
            this.$store.state.config.clase1="adornoNormal"
            this.$store.state.config.colorPromo="colorNormal"

            // SEO METAS Y KEYWORDS
        this.$store.state.config.canonicalSeo='https://generalseguros.com.mx/';
        this.$store.state.config.titleSeo= 'General de Seguros - Cotiza Seguro de Auto - Generalseguros.com.mx';
        this.$store.state.config.keywordSeo= 'General de Seguros, Seguros de autos General, General de Seguros Autos, Seguros de autos General de Seguros, General de Seguros Agentes';
        this.$store.state.config.descriptionSeo= ' Cotiza tu seguro de auto con General de Seguros y obtén las mejores coberturas en México con increíbles descuentos y plazos de hasta 12 MSI';  
        },
        async created() {  
    try {
      const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
      )
 
      if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
      }else{
        //console.log(telefono.data.telefono)
      }	
    } catch (error) {
      console.log(error);
    }

    try {
      // Traemos la promoción especifica de la aseguradora para este dominio.
      const insurer = await getInsurerPromo(
        this.$store.state.config.aseguradora
      );

      // Establecemos el porcentaje y meses sin intereses.
      this.$store.state.config.desc = insurer.promo.dto;
      this.$store.state.config.msi = insurer.promo.msi;

      this.$store.state.config.promoLabel = insurer.promo.label;
      this.$store.state.config.extraMsg = insurer.promo.extraMsg;
      // La promo es especial?
      this.$store.state.config.promoSpecial = insurer.promo.isSpecial;

      // Imagen para la promoción especial.
      this.$store.state.config.promoImg = insurer.promo.urlImg;

      /* Descomentar cuando la API mande estos valores
			y borrar los de abajo.

			store.state.config.cotizacion = insurer.quote;
			store.state.config.telefonoAS = insurer.phone;
			store.state.config.telefonoBtn = insurer.phone;

			*/

      // Si se trata de una promoción especial aplicamos los estilos necesarios
      // a el recuadro.
      if (insurer.promo.isSpecial) {
        this.$store.state.config.clase1 = "adornosPromo";
        this.$store.state.config.clase2 ="col-5 col-sm-5 col-md-5 col-lg-3 d-none d-lg-block";
        this.$store.state.config.clase3 ="col-7 col-sm-7 col-md-8 col-lg-6 my-auto";
        this.$store.state.config.colorPromo="descuentosPromo"
      }
    } catch (err) {
      console.log(err);
    }
  },
        head() {
            return {
                title: this.$store.state.config.titleSeo,
                meta: [
                {hid: 'keywords', name: 'keywords', content:this.$store.state.config.keywordSeo},
                {hid: 'description', name: 'description', content: this.$store.state.config.descriptionSeo},
                {hid: 'author', name: 'author', content: 'linkedin | Abigail-Flores'},
                {hid: 'robots', name:'robots', content:'index,follow'},
                {hid: 'sitemap', rel: 'sitemap', type:'application/xml', title:'sitemap', href:'sitemap.xml'},
                //SEO
                {hid: 'fb:app_id', name:'fb:app_id', property:'fb:app_id', content: '' },
                {hid: 'og:url', name: 'og:url', property:'og:url', content: this.$store.state.config.canonicalSeo},
                {hid: 'og:type', name: 'og:type', property:'og:type', content: 'website' },
                {hid: 'og:title', name: 'og:title', property:'og:title', content: this.$store.state.config.titleSeo },
                {hid: 'og:keywords', name: 'og:keywords', property:'og:keywords', content: this.$store.state.config.keywordSeo },
                {hid: 'og:description', name: 'og:description', property:'og:description', content: this.$store.state.config.descriptionSeo },
                {hid: 'og:image', name: 'og:image', property:'og:image', content: './img/banner.jpg' },
                {hid: 'og:alt', name: 'og:alt', property:'og:alt', content: this.$store.state.config.titleSeo },
                ],
                link: [
                  {hid: 'canonical', rel: 'canonical', href: this.$store.state.config.canonicalSeo}
                ]
            };
        }
    };
</script>