<template>
    <div>
        <div class="container">
            <div class="row mt-5">
                <div class="col-6 d-none d-md-block">
                  <img src="/img/general.svg" alt="general logotipo" class="d-block m-auto img-fluid mt-md-5" width="330" height="87">
                </div>
                <div class="col-12 d-block d-md-none">
                    <img src="/img/general.svg" alt="general logotipo" class="d-block m-auto img-fluid" width="172" height="98">
                </div>
                <div class="col-12 col-md-6 p-0 text-center text-md-left">
                    <div>
                        <div id="idGracias">
                            <span class="fw-bold" style="font-size:1.5rem;">Seguro de Auto {{this.$store.state.config.aseguradora}}</span>
                        </div>
                        <div class="col-12 col-sm-12 col-md-10 m-auto my-auto pb-2 px-3 text-center">
                            <h2 class="txtgracias" >Hola <strong>{{$store.state.formData.nombre}}</strong>,</h2>
                            <h3 class=" txtgracias">encontramos el mejor precio del seguro de tu auto</h3>
                            <div class="mt-2  p-0 m-0">
                                <h3 class="dauto txtgracias" style="overflow:hidden;width:100%">{{$store.state.formData.marca}}  {{$store.state.formData.modelo}} {{$store.state.formData.descripcion}} {{$store.state.formData.detalle}} </h3>
                            </div>
                        </div>
                        <div class="mt-3" v-show="$store.state.cargandocotizacion">
                            <!-- PRECIO -->
                            <span v-if=" 
               this.$store.state.formData.precio != null &&
                this.$store.state.formData.precio > 0 &&
                this.$store.state.formData.precio != ''" >
                                Precio de tu seguro:
                                <br><span style="font-size: 12px;font-weight: 800;">PRECIO EXCLUSIVO EN LÍNEA</span>
                                </span>
                            <br>
                            <span v-if=" 
               this.$store.state.formData.precio != null &&
                this.$store.state.formData.precio > 0 &&
                this.$store.state.formData.precio != ''" class="fw-bold" style="font-size:2rem;">{{$store.state.formData.precio | currency}}</span>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-12 px-lg-0 px-md-5">
                    <div class="col-12" v-if="!$store.state.cargandocotizacion && !$store.state.msjEje && !$store.state.msj">
                        <loader/>
                    </div>
                    <div v-if="$store.state.cargandocotizacion">
                        <tabla/>
                    </div>
                    <!-- RESPUESTA -->
                    <div class="col-xl-8 offset-xl-2 col-12 p-xl-0" v-if="$store.state.msjEje">
                        <div class="msj px-1">
                            <!-- NOMBRE -->
                            <p>
                                <span> <b v-if="$store.state.ejecutivo.nombre == undefined ">{{$store.state.ejecutivo.nombre}}</b> <b v-else >Un Ejecutivo</b></span> se pondrá en contacto contigo o llama al
                                <span><b>55{{$store.state.config.telefonoAS}}</b></span>
                            </p>
                            <!-- TELEFONO -->
                                <a
                                :href="'tel:55'+$store.state.config.telefonoAS"
                                class="btn"
                                >Llamar Ahora <i class="fa fa-chevron-right"></i></a>
                            </div>
                    </div>
                    <!-- SIN RESPUESTA -->
                    <!-- <div class="col-xl-8 offset-xl-2 col-12 p-xl-0" v-if="!$store.state.msjEje">
                        <div class="msj">
                            <p><span>Tenemos increíbles descuentos, por favor ponte en contacto con nosotros para recibir más información</span></p>
                                <a
                                :href="'tel:55'+$store.state.config.telefonoAS"
                                class="btn"
                                >Llamar Ahorra <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <logica-component/>
    </div>
</template>

<script>
    import tabla from "~/components/utilities/tabla.vue";
    import loader from "~/components/utilities/loading.vue";
    import logicaComponent from "~/components/common/logica.vue"

    export default {
        layout: "thanks",

        components: {
            tabla,
            loader,
            logicaComponent
        },
        head() {
            return {
                title: "General de Seguros - Cotiza Seguro de Auto - Generalseguros.com.mx",
                meta: [
                    {
                    hid: "keywords",
                    name: "keywords",
                    content:
                        "General de Seguros, Seguros de autos General, General de Seguros Autos, Seguros de autos General de Seguros, General de Seguros Agentes"
                    },
                    {
                    hid: "description",
                    name: "description",
                    content:
                        "Cotiza tu seguro de auto con General de Seguros y obtén las mejores coberturas en México con increíbles descuentos y plazos de hasta 12 MSI"
                    },
                    { hid: "robots", name: "robots", content: "index, follow" },
                    {
                    hid: "author",
                    name: "author",
                    content: "generalseguros.com.mx"
                    },
                    {
                    hid: "sitemap",
                    rel: "sitemap",
                    type: "application/xml",
                    title: "sitemap",
                    href: "sitemap.xml"
                    },
                ],
                link: [
                {
                    hid: "canonical",
                    rel: "canonical",
                    href: "https://generalseguros.com.mx/timeline/thank-you/"
                    }
                ]
            };
        }
    };
</script>
