<template>
    <div class="container mb-5">
      <div class="row">
        <div class="col-12 text-center mt-2">
          <img src="/img/loadgif.gif" alt="Espera un momento" style="width:60px"><br>
         <span class="font-weight-bold" style="font-size:20px; color:#fff;">Obteniendo el mejor precio para tu seguro.</span>
       </div>
     </div>
    </div>
</template>
