<template>
  <div>
    <div class="rest">
      <div class="row" v-if="$store.state.config.emision">
        <!-- BTN COMPRA TEl -->
        <div
          class="col-12 col-md-6 mt-3 mt-md-4 order-2 order-md-1 p-0 position-relative"
        >
          <div id="tooltip_example">
            <span class="mb-0 text-white" style="font-size: 16px !important"
              >Un ejecutivo se pondrá en contacto contigo.</span
            >
          </div>
          <img
            src="/img/btn_telefono.svg"
            height="75"
            width="305"
            alt="compra_tel"
            v-on:click="show = !show"
            class="btn mx-auto img-fluid"
            target="_blank"
            rel="nofollow"
            role="button"
            @click="saveInteraccion()"
            v-bind:class="{
              disabled: this.$store.state.config.btnEmisionDisabled,
            }"
            :disabled="this.$store.state.config.btnEmisionDisabled"
          />
          <br />
        </div>

        <!-- BTN COMPRA EN LINEA -->
        <div class="col-12 col-md-6 mt-3 mt-md-4 order-1 order-md-2 p-0">
          <img
            src="/img/btn_linea.svg"
            height="75"
            width="305"
            alt=""
            class="mx-auto btn img-fluid"
            target="_blank"
            rel="nofollow"
            role="button"
            @click="conectarEmision()"
            v-bind:class="{
              disabled: this.$store.state.config.btnEmisionDisabled,
            }"
            :disabled="this.$store.state.config.btnEmisionDisabled"
          />
        </div>
      </div>
      <br />
      <!-- <p>
         <img src="/img/pixel1x1.svg" :alt="$store.state.config.asgNombre" class="img-sprite" >
        <span>
          <b>{{$store.state.ejecutivo.nombre}}</b>
          ({{$store.state.ejecutivo.correo}})
        </span> se pondrá en contacto contigo o llama al
        <a
          :href="'tel:55'+$store.state.config.telefonoAS"
        >55{{$store.state.config.telefonoAS}}</a>
      </p> -->
      <!-- TABLA -->
      <div class="table-responsive">
        <span>
          <b>Coberturas</b>
        </span>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Cobertura</th>
              <th scope="col">Suma asegurada</th>
              <th scope="col">Deducible</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(item, index) in this.$store.state.cotizacion.coberturas"
              :key="index"
            >
              <td>{{ item | showName }}</td>
              <td>{{ item | showSuma }}</td>
              <td>{{ item | showDeducible }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import SaveLead from "~/plugins/saveTrigarante";

const saveLead = new SaveLead();
const tokenData = process.env.tokenData;
const sitio = process.env.sitio;
const motorCobro = process.env.motorCobro;
export default {
  data: function () {
    return { show: false };
  },
  methods: {
    conectarEmision() {
      if (!this.$store.state.config.habilitarBtnEmision) {
        this.$store.state.config.btnEmisionDisabled = true;
        var jsonEcomerseEmision = {
          idHubspot:this.$store.state.formData.idHubspot,
          msgSms: this.$store.state.config.textoSMS,
          isMailValid: this.$store.state.formData.emailValid,
          isTelefonoValid: false,
          isCpValid: this.$store.state.formData.codigoPostalValid,
          idProductoSolicitud: this.$store.state.config.idProductoSolicitud,
          idPagina: this.$store.state.config.idPagina,
          idMedioDifusion: this.$store.state.config.idMedioDifusionEcommerce,
          idEstadoCotizacion: 6, //segun Fredo
          idTipoContacto: 6, //segun Fredo
          peticion: JSON.stringify(
            this.$store.state.config.dataPeticionCotizacion
          ),
          respuesta: JSON.stringify(this.$store.state.cotizacion),
          idSubRamo: this.$store.state.config.idSubRamo,
        };
        saveLead
          .saveLeadEmision(
            JSON.stringify(jsonEcomerseEmision),
            this.$store.state.config.accessToken
          )
          .then((resp) => {
            resp = resp.data;

            /*Se valida que la respuesta no contenga ceros en los ID's*/
            if (
              resp.idSolicitudes != 0 &&
              resp.idCotizacionesAli != 0 &&
              resp.idCotizaciones != 0 &&
              resp.idProductoSolicitud != 0 &&
              resp.idProspecto != 0 &&
              this.$store.state.formData.precio > 1000
            ) {
              //Conexion a motor de pago online
              let peticion =
                resp.idSolicitudes +
                "|" +
                resp.idCotizacionesAli +
                "|" +
                resp.idCotizaciones +
                "|" +
                resp.idProductoSolicitud +
                "|" +
                resp.idProspecto +
                "|" +
                sitio;
              let x = Buffer.from(JSON.stringify(peticion)).toString("base64");
              x = x.replace('"', "");
              window.open(motorCobro + "?id=" + x, "_self");
            }
          })
          .catch((error) => {
            var status = "ERR_CONNECTION_REFUSED";
            if (typeof error.status != "undefined") {
              status = error.status;
            } else if (typeof error.response != "undefined") {
              if (typeof error.response.status != "undefined") {
                status = error.response.status;
              }
            }
            if (status === 401) {
              this.$store
                .dispatch("getToken")
                .then((resp) => {
                  if (typeof resp.data == "undefined") {
                    state.config.accessToken = resp.accessToken;
                  } else if (typeof resp.data.accessToken != "undefined") {
                    state.config.accessToken = resp.data.accessToken;
                  }
                  this.conectarEmision();
                })
                .catch((error) => {
                  this.store.state.idEndPoint = 49;
                });
            } else {
              this.$store.state.idEndPoint = 440;
            }
          });
      }
    },
    saveInteraccion() {
      if (!this.$store.state.config.habilitarBtnInteraccion) {
        this.$store.state.config.btnEmisionDisabled = true;
        document.getElementById("tooltip_example").className = "d-block";

        var jsonEcomerse = {
          idHubspot:this.$store.state.formData.idHubspot,
          msgSms: this.$store.state.config.textoSMS,
          isMailValid: this.$store.state.formData.emailValid,
          isTelefonoValid:
            this.$store.state.formData.telefonoValid === "FIJO" ||
            this.$store.state.formData.telefonoValid === "MOVIL"
              ? true
              : false,
          isCpValid: this.$store.state.formData.codigoPostalValid,
          idProductoSolicitud: this.$store.state.config.idProductoSolicitud,
          idPagina: this.$store.state.config.idPagina,
          idMedioDifusion: this.$store.state.config.idMedioDifusionInteraccion,
          idEstadoCotizacion: 7, //por defectro segun Fredo
          idTipoContacto: 1, //por defectro segun Fredo
          peticion: JSON.stringify(
            this.$store.state.config.dataPeticionCotizacion
          ),
          respuesta: JSON.stringify(this.$store.state.cotizacion),
          idSubRamo: this.$store.state.config.idSubRamo,
        };
        saveLead
          .saveLeadInteraccion(
            JSON.stringify(jsonEcomerse),
            this.$store.state.config.accessToken
          )
          .then((resp) => {
            //Conexion a motor de pago online
          })
          .catch((error) => {
            var status = "ERR_CONNECTION_REFUSED";
            if (typeof error.status != "undefined") {
              status = error.status;
            } else if (typeof error.response != "undefined") {
              if (typeof error.response.status != "undefined") {
                status = error.response.status;
              }
            }
            if (status === 401) {
              this.$store
                .dispatch("getToken")
                .then((resp) => {
                  if (typeof resp.data == "undefined") {
                    this.$store.state.config.accessToken = resp.accessToken;
                  } else if (typeof resp.data.accessToken != "undefined") {
                    this.$store.state.config.accessToken =
                      resp.data.accessToken;
                  }
                  this.saveInteraccion();
                })
                .catch((error) => {
                  this.store.state.idEndPoint = 49;
                });
            } else {
              this.$store.state.idEndPoint = 442;
            }
          });
      }
    },
  },
  filters: {
    showName: function (value) {
      if (typeof value.Nombre != "undefined") {
        return value.Nombre;
      } else {
        return value.nombre;
      }
    },
    showSuma: function (value) {
      if (typeof value.SumaAsegurada != "undefined") {
        var sumaAseg = value.SumaAsegurada;
      } else {
        var sumaAseg = value.sumaAsegurada;
      }
      var regExp = /[123456789]/;
      var result = regExp.exec(sumaAseg);
      if (sumaAseg == 0 || sumaAseg == "") {
        sumaAseg = "NO APLICA";
      } else if (sumaAseg == 1) {
        sumaAseg = "Amparada";
      } else if (sumaAseg.includes("DÍAS")) {
        sumaAseg = sumaAseg;
      } else if (result != null) {
        //tiene numeros 1-9
        var regExp2 = /[a-zA-Z]/g;
        var result2 = regExp2.exec(sumaAseg);
        if (sumaAseg.includes("$") == false) {
          if (result2 != null) {
            //V. COMERCIAL50000
            sumaAseg =
              sumaAseg.substring(0, result.index) +
              " $ " +
              sumaAseg.substring(result.index, sumaAseg.length);
          } else {
            sumaAseg = "$ " + sumaAseg;
          }
        }
        if (sumaAseg.includes(".0") == true) {
          if (sumaAseg.includes(".00") == false) {
            sumaAseg = sumaAseg + "0";
          }
        } else {
          sumaAseg = sumaAseg + ".00";
        }
        //Comas version2
        if (!sumaAseg.includes(",")) {
          var result3 = regExp.exec(sumaAseg);
          var inicio = result3.index;
          var regExp3 = /\.00/;
          var result4 = regExp3.exec(sumaAseg);
          var fin = result4.index;
          var n = (fin - inicio) / 3;
          if (n > 1 && n <= 2) {
            //1,000->100,000
            var z = sumaAseg.substring(fin - 3, fin);
            var y = sumaAseg.substring(inicio, fin - 3);
            var x = sumaAseg.substring(0, inicio);
            var zz = sumaAseg.substring(fin, sumaAseg.length);
            sumaAseg = x + y + "," + z + zz;
          } else if (n > 2 && n <= 3) {
            //1,000,000->100,000,000
            var z = sumaAseg.substring(fin - 3, fin);
            var z2 = sumaAseg.substring(fin - 6, fin - 3);
            var y2 = sumaAseg.substring(inicio, fin - 6);
            var x = sumaAseg.substring(0, inicio);
            var zz = sumaAseg.substring(fin, sumaAseg.length);
            var sumaAseg = x + y2 + "," + z2 + "," + z + zz;
          }
        }
      }
      return sumaAseg;
    },
    showDeducible: function (value) {
      if (typeof value.Deducible != "undefined") {
        var deducible = value.Deducible;
      } else {
        var deducible = value.deducible;
      }
      var regExp = /[123456789]/;
      var result = regExp.exec(deducible);
      if (deducible == 0 || deducible == "" || deducible == "0%") {
        deducible = "NO APLICA";
      } else if (deducible.includes("$") == true) {
        if (deducible.includes(".0") == true) {
          if (deducible.includes(".00") == false) {
            deducible = deducible + "0";
          }
        } else {
          deducible = deducible + ".00";
        }
      } else if (result != null) {
        //tiene numeros 1-9
        if (deducible.includes("%") == false) {
          deducible = deducible + " %";
        }
      }
      return deducible;
    },
  },
};
</script>
