.container-xleo {max-width: 1195px;}
svg.iconCheck{width:35px;height:35px;display:block;}
.ficha{  box-shadow: 5px 10px #888888;}
.card {box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1)}
.form select,.form input {height: 52px;padding: 0 5px;font-size: 1rem;color: #444;}
.formulario{padding: 0px 45px;}
.priv{font-size: 14px;}
.quat{color: #444;font-weight: 700;font-size: 1rem;}
.txtFoot{font-size: 18px;}
.txtgracias{font-size: 1.2rem;}
#tooltip_example {
    display:none;
    background: #463c3c;
    border:3px solid #463c3c;
    padding:5px;
    position: absolute;
    bottom: 5rem;
    left: 20%;
    word-wrap:break-word;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    z-index: 1;
  }
  #tooltip_example:after {
    content: '';
    display: block;
    position: absolute;
    top: 36px;
    left: 45%; 
    width: 0;
    height: 0;
    border-color:  #463c3c transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
  }
.dauto {
    font-size: 1.3rem;
    background-color: #fff;
    color: #4b4b4b;
    border-radius: 4px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: auto;
    padding: 5px 10px;
    box-shadow: 0 0 5px 2px rgb(0 0 0 / 20%);
  }
.promoi{left:50%;position: relative;top: -20%;z-index: 99;}
.promoc{right: 1%;position: absolute;top: -101%;z-index: 99;}
.b1{font-size: 16px;font-weight: bold; color: #073e89;}
.b2{font-size: 16px; color: #073e89;line-height: 1;}
.flecha{width: 30px;margin-top: -7px;}
/* .form-select{height:calc(3.5rem + 2px);line-height:1.25} */
.flecha2{width: 30px;margin-top: -10px; transform: rotate(-90deg);}
.multiselect__option--highlight {background: #72bc2a!important;}
.multiselect__tags {min-height: auto;border: none !important;font-size: 1rem!important; padding:10px 40px 10px 15px !important}
.multiselect__placeholder {color: #495057!important;font-size: 16px;margin: 14px 15px; padding-top: 0px!important;}
.multiselect__content {padding-top: 10px!important;}
.multiselect {padding: 0;height: auto!important;}
.multiselect__select {height: 50px !important;}
.form-control{border:1px solid rgb(21 90 206 / 43%);height:52px;color:#333;border-radius:5px;/*box-shadow: 0 3px 1px 0 rgb(0 0 0 / 20%); height: 52px;*/}    
.acentoBorde{border:1px solid #073e89;}
.cont > section{padding-right:1rem!important;;padding-left:1rem!important;;}
.form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
    opacity: .65;
    -webkit-transform: scale(.85) translateY(-.5rem) translateX(.15rem);
    transform: scale(0.85) translateY(-0.6rem) translateX(.15rem);
}


h2,h3,h4,h5 {color:  #073e89;}
p,li {color: #444}
a,a:hover {text-decoration: none}
ul {list-style: none}
.img-promo{width: 100; height: 100;}
/* Sprite */
/* .img-sprite{background-image: url('/img/sprite.svg');background-repeat: no-repeat;} */
.logohead{width: 135px;height: 76px;background-position: 0px 5px;background-size: 780px;}
.logoLive{width: 120px;height: 60px;background-position: -673px -75px;background-size: 1100px;}
.desc1{background-color: #FF6F20;max-width: fit-content;border-radius: 10px;padding: 10px;color:#fff;font-size: 30px;border: solid #fff;}
.desc2{width: 75%;background-color: #183D7B;border-radius: 10px;color:#fff;margin-left: 15%;margin-top: -8px;border: solid #fff; position: absolute;}
.checK{background-position: -537px -7px;background-size: 800px;width: 20px;}
/* .telhead{width: 25px;margin: 0;background-position: -410px -5px;background-size: 650px;} */
.btnTel a {font-size: 18px;color:  #183D7B;padding: 3px 10px;margin: 0 5px 0 0; }
.btnTel a:hover {color: rgb(20, 191, 221);}
.btnTel p {font-size: 12px;padding: 0;margin: 0 0 -5px 10px;color:  #183D7B}
.l-carro{width: 85%; position: absolute; bottom: 0;max-width:800px;}
.l-moto{width: 60%; position: absolute; bottom: 0;}
.txtForm {margin: auto;color: #333;text-align: center;font-size: 18px}
.form {padding: 4px 5px}
.form select:focus,.form input:focus {box-shadow: 0 0 0 3px #007bff}
.form select.is-invalid,.form input.is-invalid {box-shadow: 0 0 0 2px red}
.checkBox {margin: auto;}
.checkBox label,.checkBox b {color: #444;font-size: 14px}
.check b {color: #556}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {margin-top: 0}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {margin-top: 0}
.btnform {margin: 0;padding: 0 5px}
/* .msi{font-size: 28px;} */
/* Hot */
.msi{font-size: 40px;}
.meses{font-size: 31px;margin-top: 10px;}
.intereses{font-size: 15px;}
.btnform button {background-color: #FF6F20;color: #fff;border-radius: 5px;width: 100%;font-size: 28px;padding: 5px 0;margin: 0 0 15px 0}
.btnform button:hover {color: #fff;background-color: #183D7B;}
h1 {color:#073e87;}
.txt p {margin: 1% 0 0 0;padding: 0 15px 3px 3px;font-weight: bold;font-size: 24px;color: #fff;border: 2px solid  #183D7B;border-radius: 5px;position: absolute}
/*.card {text-align: center;padding: 5px 0;margin: -8% 0;border-radius: 10px;box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3)}*/
.card .row {align-items: center}
/*.card img {width: 150px}*/
.card img[name="img"] {width: 70px}
#btnTrackingTelefono{background-color:#073e87;color: #fff;width: 260px;border:none;}
#btnTrackingTelefono{background-color:#073e87;border:none;}
#btnTrackingEcommerce{background-color:#72bc2a;color: #fff;width: 260px;border:none;}
#btnTrackingEcommerce:hover{background-color:#72bc2a;border:none;}

.card p {
    color: #444;
    font-size: 11px;
    font-weight: bold;
    margin: 0
} 
#barrarosaL{
    background-color: #FF6F20;
    height: 10px;
    border-radius: 15px;
    max-width: 80px;
    left: -50px;
    position: relative;
    z-index: -2;
    top: 30px;
}
#barrarosaC{
    background-color: #FF6F20;
    height: 10px;
    border-radius: 15px;
    max-width: 80px;
    left: -35px;
    position: relative;
    z-index: -2;
    top: 35px;
}
/* .cont {
    margin-top: 3%;
    font-size: 20px;
    line-height: 1.7
} */
.addCont {text-align: center}
.addCont span {font-size: 32px}
.addCont p {font-size: 18px}
.addCont img {width: 80px;height: 80px;}
#vial{background-position: -190px 9px;background-size: 550px;}
#auto{background-position: -90px 8px;background-size: 490px;}
#camion{background-position: -608px 0px;background-size: 690px;}
#moto{background-position: -529px 0px;background-size: 690px;}
#meses{background-position: -319px 9px;background-size: 650px;}
#arrow{background-position: -374px -27px;background-size: 604px;width: 20px;}
#cta{width: 100%;}
.logo {width: 90%;margin: auto;display: block}
/* hr {
    border-bottom: 3px solid  #183D7B;
    margin: 1% 0 0 15%;
    padding: 0;
    width: 70%
} */
.bgColor {background:  #dedede;text-align: center;}
.bgColor h2,.bgColor p {text-align: left;}
/* .bgColor img {
    width: 60px
} */
/* .bgColor li {
    color: #fff;
    text-align: left
} */
/* .bgColor li img {
    width: 17px
} */
.endCont {background: #f8f8f8;text-align: center}
.endCont .navbar p,.endCont .navbar a {color:  #183D7B;font-size: 16px}
.endCont p {font-size: 10px;color: #b8b8b8;text-align: left}
.endCont p,a:hover {color: #b8b8b8}
.footer {background:  #073e89;padding: 1% 0 0 0}
.footer a,.footer p,.footer span {color: #fff;font-size: 18px;text-align: center}
.botonTop {background:  #073e89; opacity: .7;}
.botonTop:hover {background: #073e89; opacity: 1;}
.txtVist {text-align: center}
.txtVist p {margin: 0}
.txtVist b {font-size: 36px;color: #444;text-align: center}
.txtVist span {color: #444;text-align: center;font-size: 22px}
.dinero p {margin: 20px 0 0 0;color: #444;font-size: 18px}
/* .dinero img {width: 200px} */
.dinero a img {width: 20px}
.dinero a img[alt='Car'] {width: 30px}
.dinero span {color: #444;font-size: 44px;font-weight: bold}
.dinero a {background:  #183D7B;font-size: 20px;color: #444 !important;margin: 15px 0 0 0;padding: 5px 8px;border-radius: 8px}
.dinero a:hover {background: #073e89;color: #444}
.rest {margin: 10px 0;padding: 10px;background: #fff;border-radius: 10px;text-align: center}
.rest span {color:  #073e89;font-size: 18px}
.rest a {
    color:  #073e89;
    font-size: 18px;
    border-bottom: 1px solid  #073e89
}
.rest p {
    display: inline-block;
    font-size: 16px;
    color: #556;
    background: #f1f1f1;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 18px
}
.rest b {
    color:  #073e89
}

.rest table {
    margin: 10px 0 0 0;
    text-align: left
}

.rest th {
    padding: 2px 10px !important;
    background:  #073e89;
    color: #FFF
}

.rest td {
    padding: 2px 10px !important;
    color: #444
}

.msj {
    margin: 20px 0;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    text-align: center
}
/* .imgFondo {
    background-repeat: no-repeat;
    background-image: url(/img/bgT.jpg);
    background-size: cover;
    position: relative;
    background-position-y: 9%;
}
.colorFondo {
    background: rgba(0,0,0,.5);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
} */
.msj p {
    color: #556;
    font-size: 18px
}

.msj a {
    background:  #183D7B;
    color: #fff;
    padding: 10px 15px
}

.msj a:hover {
    background:  #183D7B;
    color: #fff
}

.sk-fading-circle .sk-circle:before {
    background-color: #fff
}


table td img {
    width: 17px;
}
table td {
   padding: 0 10px !important;
   font-size: 18px;
}
table th {
   padding: 2px 10px !important;
   background:  #183D7B;
   /* color: #fff; */
   font-size: 18px;
}
@media(min-width:801px) and (max-width:1024px) {
    #tooltip_example {
        left: 17%;
    }
    .desc1{font-size: 14px;}
    
  .form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
          -webkit-transform: scale(.85) translateY(-.5rem) translateX(.15rem);
          transform: scale(0.85) translateY(-0.01rem) translateX(.15rem);
  }
    .promoc {
        top: -8%;
        right: -17%;}
    .intereses{font-size: 10px;}
    .msi {
        font-size: 23px;
    }
    .meses {
        font-size: 18px;
        margin-top: 10px;
    }
    .txtForm {
        font-size: 16px
    }
    h1 {
        font-size: 28px;
    }
    .txt p {
        font-size: 20px
    }
    .txt img {
        width: 150px
    }
    .card img[alt="Reloj"] {
        width: 55px
    }
    .card img[alt="Lista"] {
        width: 50px
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 24px
    }
    .txtVist p {
        font-size: 26px
    }
}

@media(min-width:768px) and (max-width:800px) {
    #tooltip_example {
        left: 0%;
    }
    #tooltip_example:after {
        top: 60px;
    }
    .desc1{font-size: 14px;}
    
  .form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
          -webkit-transform: scale(.85) translateY(-.5rem) translateX(.15rem);
          transform: scale(0.85) translateY(-0.01rem) translateX(.15rem);
  }
    .promoc {
        top: -8%;
        right: -17%;}
    .intereses{font-size: 10px;}
    .msi {
        font-size: 23px;
    }
    .meses {
        font-size: 18px;
        margin-top: 10px;
    }
    .txtForm {
        font-size: 16px
    }
    h1 {
        font-size: 28px;
    }
    .txt p {
        font-size: 20px
    }
    .txt img {
        width: 150px
    }
    .card img[alt="Reloj"] {
        width: 55px
    }
    .card img[alt="Lista"] {
        width: 50px
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 24px
    }
    .txtVist p {
        font-size: 26px
    }
}

@media(min-width:426px) and (max-width:767px) {
    #tooltip_example {
        left: 18%;
    }
    h1{font-size: 1.25rem;}
    span.h3{font-size: 1rem;}
    .promoc {
        right: 59%;
        top: 0%;
        width: 75px;
        height: 75px;
    }
    .formulario{padding: 0px 25px;}
    .info{font-size: 12px;}
    .logoben{width: 50px;}
    .b1, .b2{font-size: 12px;}
    
    .card {
        padding: 5px 0;
        margin: 1% 0 3% 0
    }
    
    .endCont .navbar p,
    .endCont .navbar a {
        font-size: 15px
    }
    h2,
    h3,
    h4,
    h5,
    h6,
    .addCont span,
    .txtVist b {
        font-size: 24px
    }
    .txtVist p,
    .rest span {
        font-size: 18px
    }
    .rest th,
    .rest td {
        padding: 3px !important;
        font-size: 14px
    }
    .padd{padding-right: 0!important;
        padding-left: 0!important;}
}

@media(min-width:376px) and (max-width:425px) {
    .btn-successCuadrado {
        font-size: 1.4rem;
    }
    #tooltip_example {
        left: 10%;
    }
    h1{font-size: 1.25rem;}
    .padd{padding-right: 0!important;
        padding-left: 0!important;}
    .txtgracias{font-size: 1rem;}
    .tuinfo{font-size: .7rem;}
    span.h3{font-size: 1rem;}
    .promoc {right: 61%; top: 3%;  width: 55px;  height: 55px;}
    .formulario{padding: 0px 25px;}
    .info{font-size: 12px;}
    .logoben{width: 50px;}
    .b1, .b2{font-size: 12px;}

    /* .navbar a img {
        width: 180px
    } */
    /* .btnTel a img {
        width: 25px
    } */
    .card {
        padding: 5px 0;
        margin: 1% 0 3% 0
    }
    .card img[alt="Reloj"] {
        width: 55px
    }
    .card img[alt="Lista"] {
        width: 50px
    }
    h2,
    h3,
    h4,
    h5,
    h6,
    .addCont span,
    .txtVist b {
        font-size: 24px
    }
    .txtVist p,
    .rest span {
        font-size: 18px
    }
    .rest p,
    .rest a {
        font-size: 15px
    }
    .endCont .navbar p,
    .endCont .navbar a {
        font-size: 14px;
        text-align: center
    }
    .endCont .navbar {
        display: block
    }
    .footer a,
    .footer p,
    .footer span {
        font-size: 16px
    }
    .rest th,
    .rest td {
        padding: 3px !important;
        font-size: 14px
    }
    .dinero a {
        font-size: 21px
    }
    .dinero a img {
        width: 20px
    }
    .addCont p {
        font-size: 16px
    }
    .addCont img{
        width: 80px;
    }
    #btnTrackingTelefono {
        background-color: #183D7B;
        color: #fff;
        width: 260px;
        /* height: 50px; */
        border-bottom: #183D7B;
    }
}

@media(min-width:321px) and (max-width:375px) {
    .btn-successCuadrado {
        font-size: 1.2rem;
    }
    #tooltip_example {
        left: 0%;
    }
    h1{font-size: 1.25rem;}
    .tuinfo{font-size: .6rem;}
    span.h3{font-size: 1rem;}
    .promoc {right: 61%; top: 4%;
        width: 60px;
        height: 60px;}
    .formulario{padding: 0px 25px;}
    .priv{font-size: 12px;}
    .info{font-size: 10px;}
    .logoben{width: 50px;}
    .b1, .b2{font-size: 12px;}
    .padd{padding-right: 0!important;
        padding-left: 0!important;}
        .txtgracias{font-size: 1rem;}
    /* .navbar a img {
        width: 160px
    } */
    /* .btnTel a img {
        width: 25px
    } */
    .checkBox label,
    .checkBox b {
        font-size: 12px
    }
    .btnTel a {
        font-size: 16px;
        padding: 1px 2px;
        margin: 0 14px 0 0
    }
    .txtForm {
        font-size: 14px
    }
    .card {
        padding: 5px 0;
        margin: 1% 0 3% 0
    }
    .card img[alt="Reloj"] {
        width: 50px
    }
    .card img[alt="Lista"] {
        width: 45px
    }
    h2,
    h3,
    h4,
    h5,
    h6,
    .addCont span,
    .txtVist b {
        font-size: 24px
    }
    .rest p,
    .rest a {
        font-size: 14px
    }
    .endCont .navbar p,
    .endCont .navbar a {
        font-size: 13px;
        text-align: center
    }
    .endCont .navbar {
        display: block
    }
    .footer a,
    .footer p,
    .footer span {
        font-size: 16px
    }
    .txtVist p,
    .rest span {
        font-size: 16px
    }
    .rest th,
    .rest td {
        padding: 3px !important;
        font-size: 14px
    }
    .dinero a {
        font-size: 21px
    }
    .dinero a img {
        width: 20px
    }
    .addCont p {
        font-size: 14px
    }
    .addCont img{
        width: 80px;
    }
    #btnTrackingTelefono {
        background-color: #183D7B;
        color: #fff;
        width: 260px;
        /* height: 50px; */
        border-bottom: #183D7B;
    }
}

@media(min-width:286px) and (max-width:320px) {
    .btn-successCuadrado {
        font-size: 1rem;
    }
    #tooltip_example {
        left: 0%;
    }
    #tooltip_example:after {
        top: 60px;
    }
    h1{font-size: 1.25rem;}
    .txtgracias{font-size: 1rem;}
    .tuinfo{font-size: .6rem;}
    span.h3{font-size: 1rem;}
    .txtFoot{font-size: 15px;}
    .promoc {right: 61%; top: 5%;
        height: 50px;
    width: 50px;}
    .formulario{padding: 0px 25px;}
    .priv{font-size: 12px;}
    .info{font-size: 9px;}
    .logoben{width: 50px;}
    .b1, .b2{font-size: 10px;}
    .padd{padding-right: 0!important;
        padding-left: 0!important;}
    /* .navbar a img {
        width: 160px
    }
    .btnTel a img {
        width: 25px
    } */
    .btnTel a {
        font-size: 16px;
        padding: 1px 2px;
        margin: 0 12px 0 0
    }
    .txtForm {
        font-size: 14px
    }
    .checkBox label,
    .checkBox b {
        font-size: 12px
    }
    .card {
        padding: 5px 0;
        margin: 1% 0 3% 0
    }
    .card p {
        font-size: 9px
    }
    .card img[alt="Reloj"] {
        width: 40px
    }
    .card img[alt="Lista"] {
        width: 35px
    }
    h2,
    h3,
    h4,
    h5,
    h6,
    .addCont span,
    .txtVist b {
        font-size: 20px
    }
    .rest p,
    .rest a {
        font-size: 14px
    }
    .endCont .navbar p,
    .endCont .navbar a {
        font-size: 12px;
        text-align: center
    }
    .endCont img {
        width: 150px
    }
    .endCont .navbar {
        display: block
    }
    .footer a,
    .footer p,
    .footer span {
        font-size: 16px
    }
    .txtVist p,
    .rest span {
        font-size: 14px
    }
    .rest th,
    .rest td {
        padding: 3px !important;
        font-size: 12px
    }
    .dinero a {
        font-size: 21px
    }
    .dinero a img {
        width: 20px
    }
    .addCont p {
        font-size: 12px
    }
    .addCont img{
        width: 80px;
    }
    #btnTrackingTelefono {
        background-color: #183D7B;
        color: #fff;
        width: 260px;
        /* height: 50px; */
        border-bottom: #183D7B;
    }
}
@media(min-width:250px) and (max-width:285px){
    h1{font-size: 1.25rem;}
    span.h3{font-size: 1rem;}

    .formulario{padding: 0px 25px;}
    .priv{font-size: 12px;}
    .padd{padding-right: 0!important;
        padding-left: 0!important;}
    .logohead {
        width: 80px;
        height: 76px;
        background-position: 2px 13px;
        background-size: 500px;
    }
    .btnTel a {
        font-size: 15px;
        color: #183D7B;
        /* border: 2px solid #183D7B; */
        padding: 3px 10px;
        margin: 0 5px 0 0;
    }
    #btnTrackingTelefono {
        background-color: #183D7B;
        color: #fff;
        width: 260px;
        /* height: 50px; */
        border-bottom: #183D7B;
    }
    
}



/*Vista Desktop*/
.contenedorPromo{background:#fff;padding:5px;border-radius:6px;box-shadow:2px 2px 5px #bababa;max-width:500px;width:100%;height:auto;}
.adornosPromo{border:4px dotted #fb6c06;border-radius:6px;}
.labelPromo{position:absolute;top:-10px;left:-10px;background:red;color:#fff;border-radius:10px;padding:0px 12px;}
.descuentosPromo{background:#fb6c06;color:#fff;text-align:center;font-weight:bold;font-size:1.3rem;margin-bottom:0;padding:0.5rem;border-radius:5px;}
.msiPromo{font-weight:bold;font-size:1.4rem;text-align:center;display:block;line-height:1;}
.labelendPromo{font-weight:500;font-size:0.8rem;text-align:center;display:block;text-transform:uppercase;}
/*Vista mobile*/
@media (min-width: 240px) and (max-width: 520px) {  
.labelPromo{position:absolute;top:-10px;left:-10px;background:red;color:#fff;border-radius:10px;padding:0px 12px;}  
.descuentosPromo{background:#fb6c06;color:#fff;text-align:center;font-weight:bold;font-size:1rem;margin-bottom:0;padding:0.3rem 0.2rem;border-radius:5px;}
.msiPromo{font-weight:bold;font-size:1.4rem;text-align:center;display:block;line-height:1;}
.labelendPromo{font-weight:500;font-size:0.8rem;text-align:center;display:block;text-transform:uppercase;}
}

/*botones*/
.btn-successCuadrado{background-color:#72bc2a;border-color:#72bc2a;height:62px;font-weight:bold;}
.btn-successCuadrado:hover,.btn-successCuadrado:active,
.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show>.btn-success.dropdown-toggle,
.btn-success:focus{background-color:#72bc2a;border-color:#72bc2a;}
@media (min-width: 180px) and (max-width: 650px) {  
    .multiselect__tags {padding: 0px!important;}
    .multiselect__select {height: 50px !important;}
}