<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12 p-0">
        <div class="panel panel-default">
          <p class="mb-0 oferta" v-if="!this.tiempoTerminado"> La oferta termina en:</p>
            <p class="cronometro"> <img src="~/static/img/cronometro.svg" class="img-cro" alt=""> {{ formatearTiempo() }}
          </p>
          <p class="valido mb-0" v-if="this.tiempoTerminado">PRECIO VÁLIDO <br> SOLO POR HOY</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script >
  function pad(str, length, character) {
    var str = '' + str;
    while (str.length < length) {
      str = character + str;
    }
    return str;
  };

  function formatearTiempoDesdeSegundos(seg) {
    var str = '';
    var minuto = null;

    minuto = Math.floor(seg / 60.0);
    while (minuto >= 60) {
      minuto -=60;
    }
    str += pad(minuto, 2, '0');

    seg = Math.floor(seg);
    while (seg >= 60) {
      seg -=60;
    }
    str += ':' + pad(seg, 2, '0');
    return str;

  };

  export default {
    name: 'cronometro',
    mounted() {
      this.iniciarTiempo();
    },
    data() {
      return {
        tiempo:null,
        tiempoTerminado:false
      }
    },
    methods: {
      pararTiempo: function () {
        this.tiempo = null;
        this.tiempoTerminado = true
      },
      iniciarTiempo: function() {
        if  (process.browser) {
          //if (localStorage.getItem('tiempo') === null) {
          if (localStorage.getItem('tiempo') !== 'undefined') {
            this.tiempo = 600;
            this.contarSegundos();
          }else{
            if (localStorage.getItem('tiempo') !== 'null') {
              this.tiempo = localStorage.getItem('tiempo');
              this.contarSegundos();
            }else{
              this.tiempo = 0
            }
          }
        }
      },
      formatearTiempo: function () {
        return formatearTiempoDesdeSegundos(this.tiempo);
      },
      guardarEnLocalStorage: function () {
        localStorage.tiempo = this.tiempo;
      },
      contarSegundos: function() {
        var self = this;
        setInterval(function() {
          if (self.tiempo !== null) {
            self.tiempo--;
            if (self.tiempo === 0){
              self.pararTiempo()
              self.guardarEnLocalStorage();
            }else {
              self.guardarEnLocalStorage();
            }
          }
        }, 1000);
      }
    }

  }
</script>
<style>
.cronometro{color: #a21983;
    /*max-width: 40%;*/
    font-size: 18px;
    margin-bottom: 0px;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    font-family: monospace;}
    .panel{border: solid 1px #a21983;border-radius: 4px; padding: 3px 5px;}
.valido{color:#a21983; font-size: 12px; font-weight: bold;text-align: center;line-height: 1; }
.oferta{font-size: 14px;color: #a21983;text-align: center;line-height: 1; }
img {
  vertical-align: middle;
  border-style: none;
  width: 50%;
}
/*@media (min-width: 768px) and (max-width: 800px){
  .cronometro{font-size: 25px;}
}
@media (min-width: 426px) and (max-width: 767px){
  .cronometro{font-size: 16px;}
}
@media (min-width: 376px) and (max-width: 425px){
  .cronometro{font-size: 18px;}
}
@media (min-width: 321px) and (max-width: 375px){
  .cronometro{font-size: 18px;}
}*/
@media (min-width: 240px) and (max-width: 320px){
  .oferta{font-size: 12px;}
}
</style>
