<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-xl-10 offset-xl-1 p-0 my-2 my-md-3">
        <div class="navbar m-0 p-0">
          <!-- LOGO -->
          <a href="/" rel="noopener">
            <!-- <img src="/img/qualitas.svg" :alt="$store.state.config.asgNombre" class="img-sprite logohead " > -->
          </a>
          <!-- LOGO -->
          <!-- <a  href="/" rel="noopener" class="d-none  d-md-block">
            <img src="/img/qualitas-logo.svg" :alt="$store.state.config.asgNombre" class="img-sprite logoLive " >
          </a> -->
          <!-- BTN TEL -->
          <div class="btnTel">
            <a id="idTelDID" :href="'tel:55'+this.$store.state.config.telefonoAS" class="btn">
              <!-- <p>LLAMA GRATIS</p> -->
              <img src="/img/telefono.svg" width="20" height="20" alt="tel" class="img-sprite telhead " >
              <b>(55) {{this.$store.state.config.telefonoAS}}</b>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>