<template>
  <div class="container-fluid">
    <div class="row bg-gral">
        <div class="col-12 px-0">
            <div class="container container-xleo">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3 mb-md-3 d-md-block d-sm-none d-none">
                        <div class="card" style="padding:0;border-radius:0;box-shadow:none;border:none;">
                            <div class="card-body" style="padding:5px;">
                                <div class="row">
                                    <div class="col-12">
                                        <img src="/img/general.svg" alt="general logotipo" class="d-block m-auto img-fluid py-1" width="259" height="68">
                                    </div>
                                </div>
                                <div class="row">
                                    <ul class="col-10 offset-1 mb-0 py-1">
                                      <li class="text-muted d-block float-start">
                                        <svg class="iconCheck float-start"><use xlink:href="#check"/></svg>
                                        <small class="">El mejor precio </small>
                                        </li>
                                      <li class="text-muted d-block float-start">
                                        <svg class="iconCheck float-start"><use xlink:href="#check" /></svg>
                                        <small class="">La mejor cobertura </small>
                                        </li>
                                      <li class="text-muted d-block float-start">
                                        <svg class="iconCheck float-start"><use xlink:href="#check" /></svg>
                                        <small class="">100% en línea</small>
                                        </li>
                                        <li class="text-muted d-block float-start">
                                        <svg class="iconCheck float-start"><use xlink:href="#check" /></svg>
                                        <small class="">Paga a 6 ó 12 meses</small>
                                        </li>
                                        <li class="text-muted d-block float-start">
                                        <svg class="iconCheck float-start"><use xlink:href="#check" /></svg>
                                        <small class="">Cobertura amplia</small>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row">
                                  <div class="col-12 mt-2">
                                    <div v-if="this.$store.state.config.promoSpecial">
                                        <img class="promoi" width="90" height="85" :src="this.$store.state.config.promoImg" alt="carro">     
                                    </div>
                                    <picture>
                                        <source type="image/webp" srcset="/img/carro-general.webp">
                                        <source type="image/png" srcset="/img/carro-general.png">
                                      <img class="d-block m-auto img-fluid" src="/img/carro-general.jpg" alt="Auto" width="175" height="80"/>
                                    </picture>
                                  </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-8 col-lg-9 mb-md-3 px-md-5 bg-white" style="box-shadow:0 0 10px 3px rgb(25 66 136 / 23%);">
                        <div class="row">
                            <div class="col-4 d-block d-md-none m-auto pe-0">
                                <img class="promoc d-block d-md-none" width="40" height="40" :src="this.$store.state.config.promoImg" alt="carro" v-if="this.$store.state.config.promoSpecial"> 
                                <img src="/img/general.svg" alt="general logotipo" class="d-block m-auto img-fluid" width="172" height="98">
                            </div>
                            <div class="col-8 col-md-12">
                                <h1 class="text-center mt-3 fw-bold">Cotiza tu Seguro de Auto</h1>
                                <span class="h3 d-block text-center">{{this.$store.state.config.desc}}  {{this.$store.state.config.msi}} {{this.$store.state.config.extraMsg}} </span>
                            </div>
                        </div>
                        <formulario :config="this.$store.state.config"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-2 offset-md-4 offset-lg-3 my-2">
                        <img src="/img/tarjetas.svg" class="img-fluid d-block m-auto" alt="Tarjeta de crédito" width="135" height="40">
                    </div>
                    <div class="col-6 col-lg-3 offset-lg-4 my-2 text-right">
                        <img src="/img/candado.svg" class="img-fluid d-inline-block m-auto" alt="Tarjeta de crédito" width="20" height="20"> <small class="text-start tuinfo d-inline-block">Tu información está segura</small>
                        
                        <!-- <div itemscope="itemscope" itemtype="http://schema.org/Product" class="d-inline-block">
                            <meta itemprop="brand" content="Ahorraseguros">
                            <meta itemprop="description" content="Ahorra Seguros México">
                            <meta itemprop="name" content="Ahorra Seguros México">
                            <meta itemprop="image" content="https://ahorraseguros.mx/wp-content/uploads/src/leoescool.png">
                            <meta itemprop="review" content="">
                            <meta itemprop="sku" content="">
                        <p class="d-inline-block text-white star-rating">&nbsp;<strong itemprop="aggregateRating" itemscope="itemscope" itemtype="http://schema.org/AggregateRating"><small itemprop="ratingValue">4.8</small><small>/</small><small itemprop="bestRating">5</small>&nbsp;<small itemprop="reviewCount">3485</small>&nbsp;</strong>&nbsp;<small itemprop="name">Opiniones</small>
                        </p>
                        </div>  -->
                    </div>
                </div>
            </div>
        </div>     
    </div>
    <div class="row">
        <div class="container my-3 my-lg-5">
          <div class="row">
            <div class="col-4 text-center">
              <img src="/img/logo1.svg" alt="logo1" width="120" height="70" class="img-fluid">
              <p class="b1 mb-0">Protege tu auto</p>
              <p class="b2 mb-0">con las mejores coberturas</p>
            </div>
            <div class="col-4 text-center">
              <img src="/img/logo2.svg" alt="logo1" width="120" height="70" class="img-fluid">
              <p class="b1 mb-0">Descuentos Increíbles</p>
              <p class="b2 mb-0">ahorra en tu póliza</p>
            </div>
            <div class="col-4 text-center">
              <img src="/img/logo3.svg" alt="logo1" width="120" height="70" class="img-fluid">
              <p class="b1 mb-0">Tu póliza hoy mismo</p>
              <p class="b2 mb-0">contrata 100% online</p>
            </div>
          </div>
        </div>
    </div>




<!-- content -->
<div class="row">
    <div class="col-12 cont p-0">
        <section class="bgColor" >
            <div class=" py-md-5">
                <div class="col-xl-10 offset-xl-1 py-1">
                    <ul class="text-start">
                <li>
                  <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                  Una de las mejores aseguradoras 100% mexicanas
                </li>
                <li>
                  <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                  Presencia a nivel nacional con más de 20 oficinas en todo el país
                </li>
                <li>
                  <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                  Más de 50 años de experiencia en el cuidado de las personas y empresas
                </li>
              </ul>

              <p>General de Seguros, empresa mexicana fundada en 1970, se trata de una de las aseguradoras con más experiencia y prestigio en el ramo asegurador, la cual abarca una gran cantidad de tipos de seguros para cubrir todas las necesidades de protección de personas, familias y empresas ante todo tipo de riesgos.</p>

              <p>Hoy en día es considerada por el público e instituciones como la Condusef como una de las 10 mejores empresas aseguradoras del país, pues su solidez, eficiencia, responsabilidad y amplia variedad de servicios la colocan con una de las opciones más efectivas para el cuidado de nuestra salud, patrimonio y economía.</p>

              <p>Operan en el ramo de seguros de auto, vida, hogar, salud, pymes, agropecuario y todo tipo de seguros especializados, por lo que con Seguros General podrás encontrar desde las pólizas más comunes e indispensables hasta las más especializadas.</p>

              <p>Uno de los ramos más destacados y vendidos de esta aseguradora es el de seguros de autos, el cual sobresale en el mercado por ser uno de los más variados, con mayor número de coberturas, beneficios y que se adapta a las necesidades de todo tipo de conductor y vehículo.</p>

              <p>Cotiza ahora mismo para encontrar el seguro ideal para ti al precio más bajo, pudiendo obtener increíbles descuentos y facilidades de pago en 6 y 12 meses sin intereses con Generalseguros.com.mx</p>

                </div>
            </div>
        </section>
        <section>
            <div class="col-xl-10 offset-xl-1 py-md-4">
                <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h2>¡Conoce los Paquetes de General de Seguros!</h2>
              <p>Para garantizar que siempre encontrarás un seguro justo a tu medida, General de seguros pone a tu disposición una variada gama de paquetes de auto para que asegures tu patrimonio y tu bienestar. </p>
              <p>Estos paquetes buscan adaptarse a todo tipo de necesidades, exigencias y presupuestos de los conductores mexicanos, garantizando la mejor protección al mejor costo. </p>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">COBERTURAS</th>
                      <th scope="col">PRESTIGIO</th>
                      <th scope="col">CONFORT AMPLIA</th>
                      <th scope="col">CONFORT LIMITADA</th>
                      <th scope="col">CONFORT BÁSICA</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">RESPONSABILIDAD CIVIL</th>
                      <td>SI</td>
                      <td>SI</td>
                      <td>SI</td>
                      <td>SI</td>
                    </tr>
                    <tr>
                      <th scope="row">RC L.U.C</th>
                      <td>SI</td>
                      <td>SI</td>
                      <td>SI</td>
                      <td>SI</td>
                    </tr>
                    <tr>
                      <th scope="row">RC FALLECIMIENTO</th>
                      <td>SI</td>
                      <td>SI</td>
                      <td>SI</td>
                      <td>SI</td>
                    </tr>
                    <tr>
                      <th scope="row">PROTECCIÓN GS</th>
                      <td>SI</td>
                      <td>OPCIONAL</td>
                      <td>OPCIONAL</td>
                      <td>OPCIONAL</td>
                    </tr>
                    <tr>
                      <th scope="row">GASTOS MÉDICOS</th>
                      <td>SI</td>
                      <td>SI</td>
                      <td>SI</td>
                      <td>SI</td>
                    </tr>
                    <tr>
                      <th scope="row">ASISTENCIA VIAL</th>
                     <td>SI</td>
                      <td>SI</td>
                      <td>SI</td>
                      <td>SI</td>
                    </tr>
                    <tr>
                      <th scope="row">ASISTENCIA LEGAL</th>
                      <td>SI</td>
                      <td>SI</td>
                      <td>SI</td>
                      <td>SI</td>
                    </tr>
                    <tr>
                      <th scope="row">ASISTENCIA EN USA Y CANADA</th>
                      <td>SI</td>
                      <td>OPCIONAL</td>
                      <td>OPCIONAL</td>
                      <td>OPCIONAL</td>
                    </tr>
                    <tr>
                      <th scope="row">DAÑOS MATERIALES</th>
                      <td>SI</td>
                      <td>SI</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">ROBO TOTAL</th>
                      <td>SI</td>
                      <td>SI</td>
                      <td>SI</td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">VIDA AUTO</th>
                      <td>SI</td>
                      <td>SI</td>
                      <td>SI</td>
                      <td>SI</td>
                    </tr>
                    <tr>
                      <th scope="row">GS SIGUE</th>
                      <td>SI</td>
                      <td>SI</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">PROTECCIÓN OBJETOS PERSONALES</th>
                      <td>SI</td>
                      <td>OPCIONAL</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">DAÑOS POR TERCEROS SIN SEGUROS</th>
                      <td>SI</td>
                      <td>OPCIONAL</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">PROTECCIÓN ASALTOS</th>
                      <td>SI</td>
                      <td>OPCIONAL</td>
                      <td></td>
                      <td></td>
                    </tr>
                     <tr>
                      <th scope="row">MUERTE ACCIDENTAL CONDUCTOR</th>
                      <td>SI</td>
                      <td>OPCIONAL</td>
                      <td>OPCIONAL</td>
                      <td>OPCIONAL</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </section>
            </div>
        </section>
        <section>
            <div class="col-xl-10 offset-xl-1 py-md-4">
                <h2>¿Por qué contratar tu seguro con Generalseguros.com.mx?</h2>
            <ul>
              <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                  Compara, cotiza y contrata en sólo 10 segundos </li>
              <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                  Contratación fácil, rápida y seguro directamente en línea </li>
              <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                  Los mejores descuentos y promociones todo el año</li>
              <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                  Paga a 6 y 12 meses sin intereses</li>
                  <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                  Personaliza tu seguro de acuerdo a las necesidades de tu coche</li>
                  <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                  Recibe asesoría especializada de forma gratuita</li>
                  <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                  Obtén tu póliza en sólo un par de días directamente en tu hogar o por correo electrónico</li>
            </ul>
            </div>
        </section>
        <section>
            <div class="col-xl-10 offset-xl-1 py-md-4">
                <h2>¿Qué tipo de autos puedo asegurar con General de Seguros?</h2>
            <ul>
              <li>Automóviles. </li>
              <li>Pickup.</li>
              <li>Motocicleta.</li>
              <li>Unidad de carga de máximo 3.5 toneladas. </li>
            </ul>
            <p>Para que estos vehículos terrestres puedan ser asegurados con una póliza de esta compañía es necesario que cumplan con los siguientes requisitos de uso:</p>
               <ul>
              <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                  Vehículo de uso particular.  </li>
              <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                 Autos usados como transporte público de pasajeros.  </li>
                 <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                  Vehículos blindados siempre y cuando pasen una revisión del área de suscripción de la aseguradora </li>
               </ul> 
               <h4>Para que pueda emitirse la póliza, es necesario que todos los vehículos que deseen asegurarse con General de Seguros cuentan con:</h4>
          <ul>
            <li>Contar con placas de circulación para México y/o Estados Unidos.</li>
            <li>Deben estar fabricados en México o por compañías que tengan distribuidores nacionales autorizados. </li>
          </ul>
              <br>
      <p>Si los autos cuentan con características o usos distintos es posible que no sean candidatos a ser asegurados con alguna cobertura.</p>

            <h2>Asegura tu auto con General de Seguros y obtén los mejores beneficios</h2>
                <ul>
              <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                 Cobertura en toda la República Mexicana con red propia de ajustadores, peritos y agentes.   </li>
              <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                 Más de 20 sucursales en todo el país  </li>
                 <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                  Atención telefónica personalizada las 24 horas del día todo el año.</li>
                   <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                  Facilidad del pago de tu póliza con tarjeta de crédito a meses sin intereses.</li>    
                   <li>
               <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                  Cuentas con seguro de vida en todos los planes. </li>    
                 <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                 Asistencia vial y en viajes incluída en todas las coberturas del seguro de auto.</li>    
                   <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                  Protección integral ante asaltos y robos con y sin violencia.</li>    
                   <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                  Asistencias en el hogar. </li>    
                   <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                  Red propia de talleres mecánicos certificados. </li>
                  <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                  Propia app móvil para reportar siniestros, consultar tu póliza y solicitar servicios a donde quiera que vayas </li>
                  <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                 Contratación fácil y rápida en línea</li>
                  <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                  Precios personalizados y accesibles, además de diferentes descuentos todo el año.</li>
                    <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                  El mejor respaldo económico en indemnizaciones por pérdida total. </li>         
                </ul> 

                <h2>Conoce las coberturas del Seguro de Auto General de Seguros</h2>
            <ul>
              <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                <strong>Responsabilidad Civil: </strong> Cobertura obligatoria en todo México que cubre los gastos de daños a terceras personas que puedas llegar a ocasionar con tu vehículo de forma accidental.
              </li>
              <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                <strong>Robo Total:</strong> Cubre la indemnización en caso de pérdida total de tu auto a causa de robo, ya sea que te encuentres a bordo del coche o que sea sustraído en el lugar de estacionamiento.              </li>
              <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                <strong>Gastos Médicos:</strong> En caso de que tú o alguno de los ocupantes resulte herido en un accidentes de tránsito, el seguro cubrirá los gastos de primeros auxilios, ambulancias, hospitalización, cirugías y medicamentos, inclusive se brinda indemnización por incapacidad y tratamientos de rehabilitación.
              </li>
              <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                <strong>Daños Materiales:</strong>Cubre los daños mecánicos y estéticos causados en tu auto por choques, vandalismo, caída de objetos, accidentes y todo tipo de fenómeno natural.
              </li>
              <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                <strong>Vida Auto:</strong> Protección en caso de fallecimiento del asegurado, ya sea dentro o fuera del vehículo.
              </li>
              <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                <strong>Asistencia Legal:</strong> En caso de que tengas algún problema legal con las autoridades derivado de tu participación o responsabilidad en algún accidente vial, General de Seguros brinda defensa jurídica con abogados pagados las 24 horas, los cuales te brindarán asesoría, gestionarán trámites y podrán hacer pago de multas y fianzas dependiendo la situación.
              </li>
              <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                <strong>Asistencia Vial:</strong> Si llegas a tener una falla mecánica o cualquier vería, podrás solicitar apoyo del servicio mecánico, cambio de llantas, abastecimiento de gasolina, paso de corriente y arrastre por grúa para llevar tu vehículo a reparación
              </li>
              <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                <strong>GS Sigue:</strong> General Seguros de Autos te brindará un auto sustituto en caso de daños materiales, robo total, detención legal o fallas mecánicas.
              </li>
              <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                <strong>Seguro de Vida:</strong> Te protege a ti y tus pasajeros en caso de fallecimiento accidental, ante los cual la aseguradora cubre todas las investigaciones y trámites correspondientes, además de pagar gastos funerarios y extender una indemnización a tus beneficiarios.
              </li>
              <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                <strong>Pérdida Total por Daños:</strong> En caso de que tu auto sea declarado pérdida total, recibirás una indemnización por el valor de la unidad (valor comercial, factura o convenido) para que puedas reemplazarlo.
              </li>
              <li>
                <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                <strong>Responsabilidad Civil en el Extranjero:</strong> Extiende la cobertura de responsabilidad civil o daños a terceros cuando viajes con tu automóvil a E.U. y Canadá, en la cual estarás cubierto ante responsabilidades que puedas tener, así como también se te dará apoyo legal, en reposición de documentos y contacto con embajadas.
              </li>
            </ul> 

            <h2>Coberturas Adicionales de General de Seguros de Autos</h2>
          <p>Conoce el listado de coberturas adicionales que puedes añadir a cada uno de los 4 paquetes que ofrece General de Seguros:</p>
          <h3>Cobertura Básica</h3>
              <ul>
                <li>
                  <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                    Responsabilidad Civil Pasajeros.</li>
                <li>
                  <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                    Extensión de RC.</li>
                <li>
                  <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                    Asistencia en E.U. y Canadá.</li>
                <li>
                  <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                    Muerte acc. Conductor.</li>
                <li>
                  <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                    Gestoría GS.</li>
              </ul>

              <h3>Cobertura Limitada</h3>

          <ul>
          <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              RC Pasajeros.</li> 
          <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              Extensión de Responsabilidad Civil.</li>
          <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              Asistencia en el extranjero.</li>
          <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              Muerte accidental en E.U. y Canadá.</li>
          <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              Muerte accidental conductor.</li>
          <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              Gestoría GS.</li>
          <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              Reduce GS.</li>
          <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              Adaptaciones y conversiones.</li>
          <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              Equipo especial.</li>
          </ul>

          <h3>Cobertura Auto Prestigio</h3>
          <ul>
            <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              Asistencia E.U. y Canadá GS.</li>
              <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              Extensión de gastos médicos para el titular.</li>
              <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
             Gestoría GS.</li>
              <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              Reduce GS</li>
              <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
             Adaptaciones y conversiones.</li>
              <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              Equipo especial</li>
          </ul>

          <h2>Requisitos para contratar tu seguro de auto</h2>
          <ul>
              <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              Ser mayor de edad (18 años).</li>
          <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              Residir en México.</li>
          <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
             Identificación oficial vigente. </li>
          <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              Licencia de conducir vigente.</li>
          <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              RFC</li>
              <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              Comprobante de domicilio (código postal).</li>
          <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              Télefono</li>
          <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              Correo electrónico</li>
          <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              Forma de pago y financiamiento.</li>
          <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              Indicar la cobertura deseada</li>
          <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
             Añadir coberturas adicionales (en caso de aplicar).</li>
          </ul>
            </div>
        </section>

        <section>
            <div class="col-xl-10 offset-xl-1 py-md-4">
                <p>En cuanto a los datos que te solicitará General de Seguros del vehículo estos son:</p>
          <ul>
             <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              Modelo</li>
           <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              Marca</li>
           <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              Año</li>
           <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              Versión</li>
           <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              Descripción general del vehículo. </li>
          <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              Número de serie</li>
          <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              Número de motor. </li>
          <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              Placas </li>
          </ul>

          <h2>Restricciones de contratación del seguro de auto</h2>
          <ul>
               <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              El paquete prestigio de General de Seguros sólo aplica con vehículos con una antigüedad máxima de 10 años.</li>
          <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              Los paquetes Amplia y Limitada General Seguros de Autos sólo aplican para coches con antigüedad máxima de 20 años. </li>
          <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              El paquete Confort Básica aplica para vehículos con una antigüedad máxima de 40 años.</li>
          <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              Sólo se aceptan autos, pickups y vehículos con carga máxima de 3.5 toneladas. </li>
          <li>
            <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
              No podrán asegurarse los autos extranjeros cuya legalización no pueda acreditarse. </li>
          </ul>

                  <h2>¿Qué otro tipo de Seguros ofrece General de Seguros México?</h2>
        
        <p>General de Seguros también se especializa en muchos otros campos del sector asegurador, ofreciendo pólizas para todo tipo de necesidades de protección, como:</p>
              <ul>
                <li>
                    <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                   Seguros de vida.
                </li>
                <li>
                    <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                    Seguros para camiones
                </li>
                <li>
                    <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                    Seguros para autos turistas
                </li>
                <li>
                    <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                    Seguros de salud.
                </li>
                <li>
                    <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                    Seguros de daños
                </li>
                <li>
                    <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                    Seguros agropecuarios.
                </li>
                <li>
                    <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                    Seguros para Pymes
                </li>
                <li>
                    <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                    Seguros de transporte de pasajeros
                </li>
                <li>
                   <img src="/img/check.svg" alt="chek" width="18" height="18">&nbsp;
                    Seguros de accidentes escolares
                </li>
              </ul>  

           </div>
        </section>
        <section>
            <div class="col-xl-10 offset-xl-1 py-md-4">
                <h3><strong>Preguntas Frecuentes</strong></h3>
            <h4>¿Cuál es el teléfono para reportar un siniestro a General de Seguros?</h4>
            <p>55 5278 8888 y 800 47 27696</p>

             <h4>¿Dónde se encuentran las oficinas corporativas de General de Seguros?</h4>
            <p>Av. Patriotismo #266 Col. San Pedro de los Pinos, C.P. 03800, Ciudad de México.</p>

             <h4>¿Cómo renovar el seguro de auto?</h4>
            <p>La mayoría de las pólizas cuentan con renovación automática para que no te quedes sin seguro en caso de que olvides realizar la renovación, sin embargo, si no deseas renovar o quieres hacer un cambio comunícate por lo menos 30 días antes de la fecha de vigencia.</p>
            
            <h4>¿Cómo pagar mi seguro de auto?</h4>
            <p>Puedes hacer el pago con tarjeta de crédito, débito, depósito, en efectivo o dejar domiciliada una tarjeta.</p>       
            </div>
        </section>
        <section>
          <div class="col-xl-10 offset-xl-1 p-0">
            <h3>Contrata tu póliza con General de Seguros</h3>
            <p>Lo cierto es que el tema sobre los Seguros de Autos en México es algo importante y fundamental para poder transitar de forma tranquila por cualquier lugar. Sin embargo la única realidad es que la mayoría de los conductores en nuestro país no cuentan con ningún tipo de protección, ya que la cultura de asegurarnos, no se desarrolla del todo aún.</p>
            <p>Es por eso que ahora en El Mejor Seguro de Auto te invitamos a que conozcas de los distintos beneficios que junto a General Seguros de Autos tenemos para ti, con los que podrás obtener el respaldo necesario contra todo tipo de siniestros que se te puedan presentar, además de contar con el respaldo financiero para poder afrontar cualquier clase de imprevisto. Recuerda que obtendrás los mejores precios, ¡cotiza y contrata ya!</p>
          </div>
        </section>
      </div>
    </div>
  </div>
</template>
<script>
    import formulario from "~/components/forms/autosForm.vue";
    import getInsurerPromo from "~/plugins/promoData.js";  
import telefonoService from "~/plugins/telefonoService.js";

    export default {
        layout: "index",
        components: {
            formulario
        },
        beforeCreate () {

            this.$store.state.config.aseguradora = "GENERALDESEGUROS";
            this.$store.state.config.cotizacion = false;
            this.$store.state.config.emision = true;
            this.$store.state.config.interaccion = true;
            this.$store.state.config.grupoCallback = "VN COMPARADOR M";
            this.$store.state.config.from = 'DOMINIO-GENERALDESEGUROS';
            this.$store.state.config.textoSMS = "Felicidades: Ya tenemos tu cotización en breve un ejecutivo te contactará.";
            this.$store.state.config.dominioCorreo = "AUTOS|GENERALDESEGUROS|generalseguros-com-mx"
            this.$store.state.config.idCampana = 73;
            this.$store.state.config.idPagina = 32;
            this.$store.state.config.idSubRamo = 42;
            this.$store.state.config.idMedioDifusion = 248;
            this.$store.state.config.idMedioDifusionInteraccion = 3171;
            this.$store.state.config.idMedioDifusionEcommerce = 3170;
            this.$store.state.config.tipoVehiculo = "AUTO";
            this.$store.state.config.descuento = 20;
            this.$store.state.config.urlGracias = '/thank-you'
            this.$store.state.config.titulo = "General de Seguros"; // INDEX

            this.$store.state.config.clase2="col-4 col-md-4 col-lg-4"
            this.$store.state.config.clase3="col-4  col-md-8 col-lg-8 my-auto"
            this.$store.state.config.clase1="adornoNormal"
            this.$store.state.config.colorPromo="colorNormal"

            // SEO METAS Y KEYWORDS
        this.$store.state.config.canonicalSeo='https://generalseguros.com.mx/';
        this.$store.state.config.titleSeo= 'General de Seguros - Cotiza Seguro de Auto - Generalseguros.com.mx';
        this.$store.state.config.keywordSeo= 'General de Seguros, Seguros de autos General, General de Seguros Autos, Seguros de autos General de Seguros, General de Seguros Agentes';
        this.$store.state.config.descriptionSeo= ' Cotiza tu seguro de auto con General de Seguros y obtén las mejores coberturas en México con increíbles descuentos y plazos de hasta 12 MSI'; 
        },
        async created() {  
    try {
      const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
      )
 
      if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
      }else{
        //console.log(telefono.data.telefono)
      }	
    } catch (error) {
      console.log(error);
    }

    try {
      // Traemos la promoción especifica de la aseguradora para este dominio.
      const insurer = await getInsurerPromo(
        this.$store.state.config.aseguradora
      );

      // Establecemos el porcentaje y meses sin intereses.
      this.$store.state.config.desc = insurer.promo.dto;
      this.$store.state.config.msi = insurer.promo.msi;

      this.$store.state.config.promoLabel = insurer.promo.label;
      this.$store.state.config.extraMsg = insurer.promo.extraMsg;
      // La promo es especial?
      this.$store.state.config.promoSpecial = insurer.promo.isSpecial;

      // Imagen para la promoción especial.
      this.$store.state.config.promoImg = insurer.promo.urlImg;

      /* Descomentar cuando la API mande estos valores
			y borrar los de abajo.

			store.state.config.cotizacion = insurer.quote;
			store.state.config.telefonoAS = insurer.phone;
			store.state.config.telefonoBtn = insurer.phone;

			*/

      // Si se trata de una promoción especial aplicamos los estilos necesarios
      // a el recuadro.
      if (insurer.promo.isSpecial) {
        this.$store.state.config.clase1 = "adornosPromo";
        this.$store.state.config.clase2 ="col-5 col-sm-5 col-md-5 col-lg-3 d-none d-lg-block";
        this.$store.state.config.clase3 ="col-7 col-sm-7 col-md-8 col-lg-6 my-auto";
        this.$store.state.config.colorPromo="descuentosPromo"
      }
    } catch (err) {
      console.log(err);
    }
  },
        head() {
            return {
                title: this.$store.state.config.titleSeo,
                meta: [
                {hid: 'keywords', name: 'keywords', content:this.$store.state.config.keywordSeo},
                {hid: 'description', name: 'description', content: this.$store.state.config.descriptionSeo},
                {hid: 'author', name: 'author', content: 'linkedin | Abigail-Flores'},
                {hid: 'robots', name:'robots', content:'index,follow'},
                {hid: 'sitemap', rel: 'sitemap', type:'application/xml', title:'sitemap', href:'sitemap.xml'},
                //SEO
                {hid: 'fb:app_id', name:'fb:app_id', property:'fb:app_id', content: '' },
                {hid: 'og:url', name: 'og:url', property:'og:url', content: this.$store.state.config.canonicalSeo},
                {hid: 'og:type', name: 'og:type', property:'og:type', content: 'website' },
                {hid: 'og:title', name: 'og:title', property:'og:title', content: this.$store.state.config.titleSeo },
                {hid: 'og:keywords', name: 'og:keywords', property:'og:keywords', content: this.$store.state.config.keywordSeo },
                {hid: 'og:description', name: 'og:description', property:'og:description', content: this.$store.state.config.descriptionSeo },
                {hid: 'og:image', name: 'og:image', property:'og:image', content: './img/banner.jpg' },
                {hid: 'og:alt', name: 'og:alt', property:'og:alt', content: this.$store.state.config.titleSeo },
                ],
                link: [
                  { hid: 'canonical', rel: 'canonical', href: this.$store.state.config.canonicalSeo},
                ],
            };
        }
    };
</script>